/* ---------------------------------------
Foundation
__________________________________________*/

// <======= START: media query

$mq-breakpoints: ('xs': 320px,
  'sm' : 576px,
  'md': 768px,
  'lg' : 992px,
  'xl': 1200px,
);

@mixin mq($breakpoint: medium) {
  @media screen and (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

// //END: media query=======>

// START: Gradient difinition

/* mixinの定義 */
@mixin bg-gradient($angle: 180deg, $color: #0bd, $amount: 20%) {
  background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
}

html,
body {
  width: 100%;
  height: auto;
}

// END: Gradient difinition
/* ---------------------------------------
Layout
__________________________________________*/
.l-wrapper {
  @include mq(xl) {
    min-width: 1200px;
    width: 100%;
    margin: auto;
    // overflow: hidden;

  }

}

.l-header {
  @include mq(xl) {
    min-width: 1200px;
    width: 100%;
    margin: auto;
    background-image: url(../images/header_background-curve.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    /* -webkit-transform: translateX(-50%); */
    /* transform: translateX(-50%); */
    z-index: 100;
  }
}

.l-main {
  @include mq(xl) {
    min-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-top: 170%;
  }
}

/* ---------------------------------------
Component
__________________________________________*/
.c-hamburger {
  display: none;
}

.c-btn__close {
  display: none;
}

/* ---------------------------------------
project
__________________________________________*/


.p-navigation {
  width: 80%;
  margin: 0 auto;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      position: relative;
      list-style-type: none;
      flex-grow: 1.2;
      flex-shrink: 1;
      flex-basis: 0%;

      &::before {
        content: "";
        width: 1px;
        height: 24px;
        background: #fff;
        position: absolute;
        top: 16px;
        opacity: .2;
      }

      & a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: block;
        font-weight: bold;
      }

      & h1 a {
        text-indent: -200%;
        font-size: 0.1rem;
        overflow: hidden;
      }
    }
  }
}

.p-content {
  @include mq(xl) {
    min-width: 1200px;
    width: 100%;
    margin: auto;
  }

  &__colored--01 {
    @include bg-gradient;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding-top: 56.25%;
    position: absolute;
    top: 1050px;
  }

  &__colored--02 {
    @include bg-gradient(45deg, #A0ECD0, 30%);
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding-top: 56.25%;
    position: absolute;
    top: 3150px;
  }

  &__bgImage {
    background: #75DBCD url(../images/dog-coast-l.jpg) no-repeat;
    background-blend-mode: screen;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding-top: 56.25%;
    position: absolute;
    top: 2100px;
  }

  &__logo {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -12%);
    width: 200px;
    height: auto;
    z-index: 10;
    opacity: 1;

  }

  &__logo--effect {
    transition: opacity .8s ease;
    opacity: 0;
  }
}

/* ---------------------------------------
Utility
__________________________________________*/

/* ---------------------------------------
bideo
__________________________________________*/
#container {
  position: relative;
}

#background_video {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  // position: absolute;
  //#background_videoと#video_coverのpositionをfixedに変更
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}

#video_cover {
  position: fixed;
  // position: absolute;
  //#background_videoと#video_coverのpositionをfixedに変更
  width: 100%;
  height: 100%;
  background: url('../images/dog-sunset-l.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#play img {
  width: 100px;
}

#pause img {
  width: 90px;
}

#pause {
  display: none;
}

@media (min-width: 768px) {
  #video_controls {
    display: none;
  }
}

#main_content {
  // position: relative;
}
